<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="nav">
    <h1 >Travesía</h1>
    <nav>
        <ul class="option">
            <li><a href="/logout" class="button">Logout</a></li>
            <li><a href="/admin/new" class ="button">Create</a></li>
            <li><a href="/admin/new?generate=true" class="button">Generate Idea</a></li>
        </ul>
    </nav>
    </div>

    <div class="entry-page">
        <div class="name">
            <h1>Hi Ehis</h1>
            <h2>Tell Us Your Stories</h2>
        </div>

        <div class="content">
            
        
            <% posts.forEach(post => { %>
                <div class="post">
                    <%- post.html %>  <!-- This inserts the pre-built HTML -->
                </div>
            <% }); %>
        </div>
        
        <div>
            
        </div>
    </div>

</body>
</html>