<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete</title>
</head>
<body>
    <form action="<%=action%>" method ="post">
        <h1>Are You Sure You <br> Want to Delete <%=title%></h1>
        <button name="delete" value= "yes">YES</button>
        <button name="delete" value="no">NO</button>
    </form>
    
</body>
</html>