<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="nav">
    <h1 >Travesía</h1>
    <nav>
        <ul class="option">
            <li><a href="/login" class="button">Login</a></li>
            <li><a href="/login" class="button">Sign Up</a></li>
        </ul>
    </nav>
    </div>
   
    <div class="entry-page">
        <div class="name">
            <h1>My Personal Blog</h1>
            <p>Thoughts, ideas, and stories from my journey</p>
        </div>

        <div class="content">
        
            <% posts.forEach(post => { %>
                <div class="post">
                    <%- post.html %> 
                </div>
            <% }); %>

            
        </div>
    </div>
</body>
</html>