<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>View Post - <%=title%></title>
</head>
 <body class="view-page">
    <button class="back-button"><a href="/admin">Back to Home</a></button>
    
    <div class="view-container">
        <div class="content-box">
            <h1><%=title%></h1>
            <p><%=date%></p>
            <div class="post-content"><%=content%>
        </div>
    </div>
</body>
</html>